/* FORCE VISIBILITY RESET */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}
